@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Syncopate:wght@400;700&display=swap");

:root {
  --heading-font-family: "Syncopate", sans-serif;
  --text-font-family: "Raleway", sans-serif;
  --price-font-family: "Kodchasan", sans-serif;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
  --extrabold-font-weight: 700;

  --heading-font-size: 2.5rem;
  --subheading-font-size: 0.5em;

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

main {
  height: 100%;
  width: 100vw;
}

/* MANUFACTURE SECTION STARTS */
.Manufacture {
  width: 100%;
  height: 100%;
  margin: 15px auto; 
  display: flex;
  position: relative;
  font-size: 1rem;
}

.Manufacture h1 {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  margin-left: 126px;
}

.illustration img {
  width: 70%;
  opacity: 0.4;
}

.Manufacture .illustration-1 {
  position: absolute;
  top: 100px;
  left: 0;
}

.Manufacture .illustration-2 {
  position: absolute;
  bottom: 0;
  right: -100px;
  transform: rotate(-9.118deg);
}


.Manufacture h3 {
  font-family: var(--heading-font-family);
  font-size: 1em;
  margin: 2em 2em 0em;
}

.Manufacture p {
  font-family: var(--text-font-family);
  font-size: var(--paragraph-font-size);
  font-weight: var(--medium-font-weight);
  margin: 1em 2em;
}

.flex-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em auto;
}

/* -- BROTH START -- */
.broth {
  margin: 4em auto 12em;
  width: 100%;
}

.Manufacture .broth .img {
  width: 207px;
  margin: 2em auto;
}

.Manufacture .broth .img img {
  margin: 0 auto;
}
/* -- BROTH ENDS -- */

/* -- NOODLES START -- */
.noodles {
  margin: 2em auto;
  width: 100%;
}

.Manufacture .noodles .img {
  margin: 0 auto;
  width: 45%;
}
/* -- NOODLES ENDS -- */

/* -- TOPPING STARTS -- */
.toppings {
  margin: 0 auto;
  width: 100%;
}

.Manufacture .toppings .img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}
/* -- TOPPING ENDS -- */

/* -- RESULT -- */
.result{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: 4em auto;
}
.result .img {
  width: 100%;
}

.result img {
  width: 225px;
}

.result-arrow {
  transform: rotate(-15.71deg);
}

/* -- RESULT ENDS -- */

.big-arrow img {
  width: 150px;
}

.arrow {
  display: none;
}
/* MANUFACTURE SECTION ENDS */

.third-part {
  font-family: var(--text-font-family);
}

/* Third Part CSS */
.review-section {
  font-family: var(--text-font-family);
}

.review-section>h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--heading-font-size);
  text-transform: uppercase;
  margin-left: 126px;
}

/* Reviews */
.review-section-container {
  display: grid;
  place-items: center;
  padding: 47px 126px 50px 118px;
  position: relative;
  
}

.review-section-container::before {
  content: "";
  background: url(/images/bg.png);
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 42px;
  row-gap: 50px;
}

.individual-review-container {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 7px;
  padding: 15px 50px;
  padding-bottom: 55px;
}

.individual-review-container div {
  margin-bottom: -15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.individual-review-container h1 {
  font-size: 2rem;
  font-family: var(--heading-font-family);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
}

.individual-review-container p {
  font-size: var(--paragraph-font-size);
  font-family: var(--text-font-family);
  font-weight: var(--medium-font-weight);
}

.individual-review-container div>img {
  width: 50px;
}

.review-container i {
  font-size: 2.5rem;
  margin-left: -7px;
}

@media (max-width: 800px) {

  .Manufacture {
    width: 100%;
    height: 100%;
    margin: 15px auto; 
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1rem;
  }

  .Manufacture h1 {
    margin-left: 35px;
  }

  .Manufacture .illustration {
    display: none;
  }

  .Manufacture .big-arrow {
    display: none;
  }

  .Manufacture::before {
    content: "";
    background: url(/images/bg.png);
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .flex-container{
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 70%;
  }

  .flex-container-1{
    order: 2;
  } 

  .flex-container-2 {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-top: 7em;
  }

  .flex-container-3 {
    order: 3;
  }

  .ingredient {
    margin: 1em auto;
  }

  .ingredient .img {
    margin: 5px auto;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Manufacture .ingredient .img img {
    width: 70px;
  }
  
  .result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
    margin: 0;
  }
  
  .result .img-result {
    width: 225px;
    height: 217px;
    margin: 0 auto; 
  }
  
  .result .img-result img {
    width: 225px;
    height: 217px;
    object-fit: cover;
  }

  .arrow {
    display: block;
  }
  }

  
