@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Syncopate:wght@400;700&display=swap");

:root {
  --heading-font-family: "Syncopate", sans-serif;
  --text-font-family: "Raleway", sans-serif;
  --price-font-family: "Kodchasan", sans-serif;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
  --extrabold-font-weight: 700;

  --heading-font-size: 2.5rem;
  --subheading-font-size: 0.5rem;

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: #EA543C;
}

::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background: #c4c4c4;
}


::-webkit-scrollbar-thumb {
  background: #EA543C;
  width: 15px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

button {
  cursor: pointer;
}

p {
  font-family: var(--text-font-family);
}

/* MANUFACTURE SECTION STARTS */
.Manufacture {
  width: 100%;
  height: 100%;
  margin: 15px auto;
  display: flex;
  position: relative;
  font-size: 1rem;
}

.Manufacture h1 {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  margin: 1rem 7.875rem;
}

.illustration img {
  width: 70%;
  opacity: 0.4;
}

.Manufacture .illustration-1 {
  position: absolute;
  top: 100px;
  left: 0;
}

.Manufacture .illustration-2 {
  position: absolute;
  bottom: 0;
  right: -100px;
  transform: rotate(-9.118deg);
}

.Manufacture h3 {
  font-family: var(--heading-font-family);
  font-size: 1em;
  margin: 2em 2em 0em;
}

.Manufacture p {
  font-family: var(--text-font-family);
  font-size: var(--paragraph-font-size);
  font-weight: var(--medium-font-weight);
  margin: 1em 2em;
}

.flex-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
}

/* -- BROTH START -- */
.broth {
  margin: 4em auto 12em;
  width: 100%;
}

.Manufacture .broth .img {
  width: 207px;
  margin: 2em auto;
}

.Manufacture .broth .img img {
  margin: 0 auto;
}

/* -- BROTH ENDS -- */

/* -- NOODLES START -- */
.noodles {
  margin: 2em auto;
  width: 100%;
}

.Manufacture .noodles .img {
  margin: 0 auto;
  width: 45%;
}

/* -- NOODLES ENDS -- */

/* -- TOPPING STARTS -- */
.toppings {
  margin: 0 auto;
  width: 100%;
}

.Manufacture .toppings .img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

/* -- TOPPING ENDS -- */

/* -- RESULT -- */
.result {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: 4em auto;
}

.result .img {
  width: 100%;
}

.result img {
  width: 225px;
}

.result-arrow {
  transform: rotate(-15.71deg);
}

/* -- RESULT ENDS -- */

.big-arrow img {
  width: 150px;
}

.arrow {
  display: none;
}

/* MANUFACTURE SECTION ENDS */

@media (max-width: 800px) {
  .Manufacture {
    width: 100%;
    height: 100%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1rem;
  }

  .Manufacture h1 {
    margin-inline: 3rem;
  }

  .Manufacture .illustration {
    display: none;
  }

  .Manufacture .big-arrow {
    display: none;
  }

  .Manufacture::before {
    content: "";
    background: url(images/bg.png/);
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .flex-container {
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 70%;
  }

  .flex-container-1 {
    order: 2;
  }

  .flex-container-2 {
    display: flex;
    flex-direction: column;
    order: 1;
    margin-top: 7em;
  }

  .flex-container-3 {
    order: 3;
  }

  .ingredient {
    margin: 1em auto;
  }

  .ingredient .img {
    margin: 5px auto;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Manufacture .ingredient .img img {
    width: 70px;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
    margin: 0;
  }

  .result .img-result {
    width: 225px;
    height: 217px;
    margin: 0 auto;
  }

  .result .img-result img {
    width: 225px;
    height: 217px;
    object-fit: cover;
  }

  .arrow {
    display: block;
  }
}

/* Third Part CSS */
.review-section>h1 {
  font-size: var(--heading-font-size);
  margin: 1rem 7.875rem;
}

.review-container {
  padding: 3rem 7.875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 35px;
  position: relative;
  overflow: hidden;
}

.review-container::before {
  content: "";
  background: url(images/bg.png) no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.slider-arrow {
  display: none;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 0.2s;
  z-index: 2;
}

.slider-arrow:hover {
  color: rgb(40, 40, 40);
}

.left-arrow {
  left: 1.25rem;
}

.right-arrow {
  right: 1.25rem;
}

.dot-container {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.dot {
  background-color: #ea543c;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.3s;
}

.active-dot {
  width: 4rem;
  border-radius: 20px;
  background-color: #1e1e1e;
  cursor: auto;
}

.review-individual-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid var(--color-black);
  border-radius: 7px;
  background-color: var(--color-white);
  padding: 2rem;
  padding-bottom: 3.25rem;
}

.invisible-container {
  display: none;
}

.review-ramen-name-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.review-ramen-name-container>h2 {
  font-size: 2rem;
}

.review-ramen-name-container>img {
  width: 2.25rem;
}

.review-star-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
}

.review-individual-container>p {
  font-weight: var(--medium-font-weight);
  font-size: 1rem;
}

@media screen and (max-width: 965px) {
  .review-section>h1 {
    margin-inline: 3rem;
  }

  .review-container {
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .review-container {
    padding-inline: 1.75rem;
  }

  .review-section>h1 {
    font-size: 2rem;
    margin-inline: 1.75rem;
  }
}

@media screen and (max-width: 750px) {
  .slider-arrow {
    display: block;
  }

  .review-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
  }

  .review-individual-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(130%, -50%);
    transition: transform 0.5s;
  }

  .active-review-container {
    transform: translate(-50%, -50%);
  }

  .invisible-container {
    display: block;
    position: static;
    visibility: hidden;
  }

  .dot-container {
    display: flex;
  }

  .review-container::before {
    background: none;
  }
}

@media screen and (max-width: 500px) {
  .review-section>h1 {
    font-size: 1.75rem;
    margin: 1rem 1rem;
  }

  .dot-container {
    bottom: 0rem;
  }

  .left-arrow {
    left: 0.25rem;
  }

  .right-arrow {
    right: 0rem;
  }

  .review-individual-container {
    padding-inline: 0.5rem;
  }

  .review-individual-container>p {
    font-size: 0.85rem;
  }

  .review-ramen-name-container,
  .review-star-container,
  .review-individual-container>p {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 365px) {
  .review-section>h1 {
    margin: 1rem 0.5rem;
  }
}

/* Image between the 2 sections in mobile screen */
#image-mobile-screen-section {
  display: none;
  position: relative;
  min-height: 7rem;
}

#image-mobile-screen-section img {
  position: absolute;
  left: -1rem;
  width: 15rem;
}

@media screen and (max-width: 750px) {
  #image-mobile-screen-section {
    display: block;
  }
}

/* Last Section */
#last-section>h1 {
  font-size: var(--heading-font-size);
  margin: 2rem 7.875rem;
}

.last-section-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-inline: 7.875rem;
}

.last-section-main-container>p {
  font-weight: var(--medium-font-weight);
  font-size: 1.25rem;
}

.images-main-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 80px 1fr;
  justify-items: center;
  padding-right: 4rem;
}

.bowls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding-inline: 2em;
  width: 20rem;
  background-color: #ece4cc;
  border-radius: 7px;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
}

.bowls-container>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bowls-container>div>div>img {
  width: 4rem;
}

.bowls-container>div>div {
  position: relative;
}

.bowls-container>div>div::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-radius: 50%;
}

.bowls-container>div>div:nth-child(3)::before {
  display: none;
}

.bowls-container>div>div:nth-child(3)>i {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: -20px;
  font-size: 22px;
  transform: translateX(-50%);
}

.bowl-right-arrow,
.bowl-left-arrow {
  font-size: 1.25rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.bowl-left-arrow {
  left: 1rem;
}

.bowl-right-arrow {
  right: 1rem;
}

.ramen-container {
  position: relative;
  min-height: 25rem;
}

.first-ramen-image {
  width: 12rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.second-ramen-image {
  width: 12rem;
  position: absolute;
  display: none;
  top: 1rem;
  left: 58vw;
  rotate: -15deg;
}

.cart-container {
  position: relative;
}

.cart-container img {
  transform: scaleX(-1);
  position: absolute;
  top: -6rem;
  left: -10rem;
  width: 25rem;
}

.faq-inner-container {
  display: grid;
  grid-template-columns: 40px 14rem;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0.5rem;
  margin-top: -20rem;
}

.faq-inner-container>h2 {
  grid-area: 1 / 1 / 2 / 3;
  margin-block: 0.25rem;
}

.faq-inner-container>p {
  font-weight: var(--semibold-font-weight);
  font-size: 1.15rem;
  cursor: pointer;
}

.faq-inner-container>i:hover+p,
.faq-inner-container>p:hover {
  text-decoration: underline;
}

.faq-inner-container>i {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 965px) {
  #last-section>h1 {
    margin-inline: 3rem;
  }

  .last-section-main-container {
    margin-inline: 3rem;
  }

  .cart-container img {
    top: -6rem;
    left: -13rem;
  }

  .first-ramen-image {
    top: 1rem;
    left: -8rem;
  }
}

@media screen and (max-width: 850px) {
  #last-section>h1 {
    margin-inline: 1.75rem;
    font-size: 2rem;
  }

  .last-section-main-container {
    margin-inline: 1.75rem;
  }
}

@media screen and (max-width: 750px) {
  .last-section-main-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .images-main-container {
    margin-top: -9rem;
  }

  .first-ramen-image {
    display: none;
  }

  .second-ramen-image {
    display: block;
  }

  .faq-inner-container {
    margin-top: -10rem;
  }

  .faq-inner-container>h2 {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 500px) {
  .bowls-container {
    width: 13rem;
  }

  .bowls-container>div>img {
    width: 3.5rem;
  }

  .bowl-left-arrow,
  .bowl-right-arrow {
    display: none;
  }

  .second-ramen-image {
    left: 55vw;
    width: 8rem;
  }

  .cart-container img {
    width: 21rem;
    left: -10rem;
  }
}

@media screen and (max-width: 360px) {
  .last-section-main-container>p {
    font-size: 1rem;
  }

  .images-main-container {
    margin-top: -10rem;
  }

  .second-ramen-image {
    left: 45vw;
  }

  .cart-container img {
    width: 18rem;
    top: -4rem;
    left: -12rem;
  }
}

/* Footer */
.footer-main-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 7.875rem;
  margin-top: -25rem;
  padding-top: 3em;
  border-top: 1px solid black;
}

.footer-main-container>p {
  align-self: end;
  letter-spacing: 1px;
  font-weight: var(--regular-font-weight);
}

.footer-main-container>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.footer-logo-container>h2 {
  font-size: 1.5rem;
}

.footer-logo-container>img {
  width: 4rem;
}

.ul-footer-container {
  display: flex;
  font-weight: var(--semibold-font-weight);
  font-family: var(--text-font-family);
  list-style-type: none;
}

.ul-footer-container>li>a {
  margin-right: 3rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.ul-footer-container>li:last-child>a {
  margin-right: 0;
}

@media screen and (max-width: 1016px) {
  .footer-main-container>div {
    flex-direction: column;
  }
}

@media screen and (max-width: 965px) {
  .footer-main-container {
    margin-top: -30rem;
    margin-inline: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .footer-main-container {
    margin-inline: 1.75rem;
  }
}

@media screen and (max-width: 750px) {
  .footer-main-container {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .ul-footer-container>li>a {
    margin-right: 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .footer-logo-container {
    gap: 0.75rem;
  }

  .footer-logo-container>h2 {
    font-size: 1.25rem;
  }

  .footer-logo-container>img {
    width: 3.5rem;
  }

  .ul-footer-container>li>a {
    margin-right: 1rem;
    font-size: 0.75rem;
  }
}


/* PART ONE */
#logo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  gap: 2em;
  padding-top: 1em;
}

#logo-icon {
  width: 3.5rem;
  height: 3.5rem;
}

#logo-header {
  font-family: var(--heading-font-family);
  color: black;
}

nav {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 5px repeat(20, 1fr) repeat(2, 5px);
  /* grid-template-rows: none; */
}

.mobile-nav,
.close-icon,
.bar-icon {
  display: none;
}

.nav-icons {
  height: 2rem;
  width: 2rem;
  margin: auto 0;
  cursor: pointer;
}

.nav-icons:nth-child(1) {
  grid-column: 2/3;
}

.search-box {
  grid-column: 3/7;
  height: 70%;
  width: 0px;
  margin: auto 0;
  border-radius: 25px;
  outline: none;
  border: none;
  font-family: var(--text-font-family);
  font-weight: 600;
  border: 1.5px solid rgb(58, 58, 58);
  padding-left: 1.5em;
  opacity: 0;
  transition: all ease 0.3s;
}

.search-box::placeholder {
  font-family: var(--text-font-family);
  font-weight: bold;
}

.search-box-active {
  opacity: 1;
  width: 200px;
}

.nav-icons:nth-child(3) {
  grid-column: 10/11;
}

.nav-icons:nth-child(3):hover {
  animation: shake 0.5s;
  animation-iteration-count: 1s;
}

/* Shake effect for telephone */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.nav-icons:nth-child(3) {
  grid-column: 11/12;
}

.nav-icons:nth-child(4) {
  grid-column: 12/13;
}

#menu-button {
  grid-column: 20/24;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.2rem;
  font-family: var(--text-font-family);
  font-weight: 500;
}

main {
  width: 100%;
  height: auto;
}

#intro {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0 4em;
  padding-top: 0;
  position: relative;

}

.illustrations {
  position: absolute;
  z-index: -1;
}

.illustration_1 {
  top: 5%;
  left: 0;
  height: 6em;
  width: 6em;
  transform: rotate(-45deg);
}

.illustration_2 {
  bottom: 2%;
  aspect-ratio: 16/9;
  width: 22em;
  left: 390px;
  transform: rotate(10deg);
}

.illustration_3 {
  left: -50px;
  bottom: 10px;
  height: 9em;
  width: 9em;
  transform: rotate(-15deg);
}

.illustration_4 {
  right: 0;
  bottom: 0;
  height: 10em;
  width: 10em;
}

#intro-wrapper {
  width: 50%;
  /* border: 1px solid red; */
  /* align-self: stretch; */
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#intro-wrapper h1 {
  font-size: 3rem;
  font-family: var(--heading-font-family);
}

#intro-wrapper p {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--text-font-family);
}

#intro-wrapper p span {
  color: #EA543C;
  font-family: var(--heading-font-family);
  font-weight: 700;
}


#intro-wrapper button {
  align-self: flex-start;
}

.intro-img-mobile {
  display: none;
}

.btn {
  font-family: var(--text-font-family);
  color: white;
  background-color: black;
  border: 1px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 2px;
  padding: 0.5em 1.4em;
  transition: all ease 0.5s;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background-color: white;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

#intro-img-wrapper {

  height: 100%;
  width: 50%;

}

#intro-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#popularity {
  /* border: 2px solid red; */
  width: 100%;
  height: 700px;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4em;
}

#popularity h2 {
  font-size: 2.5rem;
  font-family: var(--heading-font-family);
  font-weight: 700;
  padding-left: 1em;

}

#popular-wrapper {
  width: 100%;
  height: 70%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-cards {
  width: 30%;
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  gap: 0.7em;
}

.mobile-card {
  display: none;
}

.card-img {
  width: 17em;
  height: 17em;
  border-radius: 5px;
  border: 1.5px solid black;
  padding: 1em;

}

.card-title {
  font-family: var(--heading-font-family);
  font-size: 1.7rem;
  margin: 0;

}

.card-price {
  font-family: var(--price-font-family);
  font-weight: 700;
  font-size: 1.4rem;
}

.card-btn {
  max-width: 280px;
}

@media only screen and (max-width: 770px) and (min-width: 431px) {

  nav {
    display: none;
  }


  .bar-icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 13px;
    font-size: 1rem;
  }

  .mobile-nav {

    background-color: white;
    border: 1.5px solid black;

    width: 50%;
    height: 350px;
    z-index: 99;
    position: absolute;
    /* top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    display: none;
    top: 50px;
    right: 0;
    /* height: 0; */
    /* transition: height ease 0.3ms; */

  }

  .mobile-nav::before {
    content: "";
    background-image: url("C:/Users/zesha/OneDrive/Desktop/ArtRamen-Website/images/bg.png");
    background-position-x: right;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 50;
    /* Adjust the opacity as needed (0.5 is 50%) */
  }

  .close-icon {
    display: block;
    color: white;
    background-color: black;
    font-size: 1.3rem;
    padding: 0.4em;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    z-index: 99;
  }

  .nav-btn {
    font-size: 1rem;
    z-index: 99;
  }

  header {
    border-bottom: 1px solid black;
    position: relative;
    width: 90%;
    margin: 0 auto;
    /* margin-bottom: 10rem; */
    display: flex;
    margin-bottom: 1em;

  }

  #logo-info {
    /* margin: 0; */
    width: 100%;
    font-size: 0.7rem;
  }

  #logo-icon {
    width: 2rem;
    height: 2rem;
  }

  .illustrations {
    display: none;
  }

  .illustration_1 {
    display: block;
    position: absolute;
    top: 70%;
    left: 80%;
    right: 0;
    transform: rotate(-20deg);
    height: 10em;
    width: 10em;

  }

  .illustration_3 {
    display: block;
    width: 8em;
    height: 8em;
    top: 280px;
    left: -35px;
  }


  #intro {
    width: 100%;
    padding: 2em;
  }

  #intro-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #intro-wrapper h1 {
    width: 80%;
    font-size: 1.5rem;
  }

  #intro-wrapper p {
    font-size: 0.9rem;
  }

  #intro-wrapper button {
    align-self: center;
    font-size: 1rem;
    max-width: 150px;
  }

  .intro-img {
    display: none;
  }

  #intro-img-wrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    height: auto;

    margin: 0 auto;
    /* padding-left: 5em; */
  }

  .intro-img-mobile {
    display: block;


  }

  #intro-img-wrapper img {
    /* height: 100%; */
    width: 80%;
    margin: 0 auto;
    max-width: 90%;
    margin-left: 30px;
    /* max-width: 60%; */
  }



  #popularity {
    height: auto;
    padding: 0;
    margin-bottom: 4em;
  }


  #popularity h2 {
    font-size: 1.3rem;
  }

  #popular-wrapper {
    /* flex-direction: column; */

    height: auto;

    flex-wrap: wrap;
    /* border: 1px solid green; */
    padding: 0;
    /* padding-left: 1em; */
    /* gap: 0; */
    row-gap: 2em;
    align-items: center;
    justify-content: center;
    max-width: 600px;

    margin: 0 auto;


    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */

  }

  .popular-cards {
    height: auto;
    /* width: 50%; */
    /* width: 250px; */
    min-width: 230px;
    margin-left: 10px;
    font-size: 1.3rem;
    /* flex: 1; */
    /* border: 1px solid red; */
    padding: 0;
    gap: 1em;
    justify-content: center;
    align-items: center;
    /* margin-left: 0.5em; */
    /* min-width: 50%; */

  }

  .card-title {
    font-size: 1.3em;

  }

  .card-price {
    font-size: 1em;

  }

  .card-btn {
    font-size: 1em;
    max-width: 200px;

  }

  .card-img {
    height: 11em;
    width: 11em;
  }

  .mobile-card {
    display: flex;

  }
}

@media (max-width: 430px) {

  .illustrations {
    display: none;
  }

  .illustration_1 {
    display: block;
    position: absolute;
    top: 75%;
    left: 325px;
    transform: rotate(-20deg);
    height: 7em;
    width: 7em;

  }

  .illustration_3 {
    display: block;
    width: 5em;
    height: 5em;
    top: 280px;
    left: -35px;
  }

  nav {
    display: none;
  }


  .bar-icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 13px;
    font-size: 1rem;
  }

  .mobile-nav {

    background-color: white;
    border: 1.5px solid black;

    width: 100%;
    height: 350px;
    z-index: 99;
    position: absolute;
    /* top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    display: none;
    /* height: 0; */
    /* transition: height ease 0.3ms; */

  }

  .mobile-nav::before {
    content: "";
    background-image: url("C:/Users/zesha/OneDrive/Desktop/ArtRamen-Website/images/bg.png");
    background-position-x: right;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 50;
    /* Adjust the opacity as needed (0.5 is 50%) */
  }

  .close-icon {
    display: block;
    color: white;
    background-color: black;
    font-size: 1.3rem;
    padding: 0.4em;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    z-index: 99;
  }

  .nav-btn {
    font-size: 1rem;
    z-index: 99;
  }

  header {
    border-bottom: 1px solid black;
    position: relative;
    width: 90%;
    margin: 0 auto;
    /* margin-bottom: 10rem; */
    display: flex;
    margin-bottom: 1em;

  }

  #logo-info {
    /* margin: 0; */
    width: 100%;
    font-size: 0.7rem;
  }

  #logo-icon {
    width: 2rem;
    height: 2rem;
  }

  main {
    /* margin-top: 2em; */
    /* border-right: 1px solid red; */
  }

  #intro {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    padding: 0 2em;
    margin-bottom: 1em;
  }

  #intro-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #intro-wrapper h1 {
    width: 80%;
    font-size: 1.5rem;
  }

  #intro-wrapper p {
    font-size: 0.9rem;
  }

  .intro-img {
    display: none;
  }

  #intro-img-wrapper {
    height: auto;
    width: 100%;

  }

  .intro-img-mobile {
    display: block;

  }

  .intro-btn {
    font-size: 1rem;
    margin: 0 auto;
  }

  #popularity {
    height: auto;
    padding: 0;
    margin-bottom: 4em;
  }


  #popularity h2 {
    font-size: 1.3rem;
  }

  #popular-wrapper {
    /* flex-direction: column; */

    height: auto;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    padding: 0;
    padding-left: 1em;
    /* gap: 0; */
    row-gap: 2em;
    align-items: center;
    justify-content: center;


    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */

  }

  .popular-cards {
    height: auto;
    width: 50%;
    font-size: 0.8rem;
    /* flex: 1; */
    /* border: 1px solid red; */
    padding: 0;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
    /* margin-left: 1em; */

  }

  .card-title {
    font-size: 1.3em;

  }

  .card-price {
    font-size: 1em;

  }

  .card-btn {
    font-size: 1em;
    max-width: 120px;

  }

  .card-img {
    height: 11em;
    width: 11em;
  }

  .mobile-card {
    display: flex;

  }
}
